.container{
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.container ul{
    padding: 0;
}
.container ul li{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
    align-items: center;
}
